body {
  height: 800px;
  background-color: rgb(237, 235, 235);
}

header {
  padding: 2px;
  background-color: pink;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container {
  height: 800px;
  margin-top: 120px;
  margin-left: 25%;
  display: inline-block;
  justify-content: center;
}

.label {
  font-size: 32px;
  color: black;
}

.input {
  font-size: 30px;
  color: black;
}

.submit {
  background-color: pink;
  border-width: 2;
  border-color: darkred;
  border-style: ridge;
  font-size: 20px;
}

.submit:hover {
  background-color: rgb(233, 147, 161);
}

.message {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: blue;
}

